$black: #000000;
$Concrete: #f2f2f2;
$Tundora: #444444;
$Alto: #d9d9d9;
$CodGray: #111111;
$MineShaft: #222222;
$white: #ffffff;
$Apple: #68b738;
$Gallery: #eaeaea;
$VividTangerine: #ff8282;
$Mercury: #e7e7e7;
