@import "../abstracts/variables.scss";
@import "../fonts.scss";

.add-product__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

.add-product__list {
  list-style-type: none;
  margin: 0;
}

.add-product__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $MineShaft;
}

.add-product__extra-list {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $Tundora;
}

.add-product__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  border: 0;
  background-color: $Apple;
  padding: 10px 109px;
}
