.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
}

.catalog__list {
  margin: 0;
  list-style-type: none;
}

.catalog__link-title {
  text-decoration: none;
}

.catalog__item-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
  text-transform: uppercase;
}

.catalog__extra-list {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}

.catalog__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  border: 0;
  background-color: $basic_green;
  padding: 10px 109px;
}

.catalog__item {
  margin-bottom: 19px;
}

.catalog__see-more {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $light-black;
  text-transform: uppercase;
  text-align: center;
}

.catalog__description-more {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  text-align: center;
}

.catalog__button-all {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey;
  text-transform: uppercase;
  border: 0;
  background-color: $basic_grey;
  padding: 10px 94px;
}
