@import "../abstracts/variables.scss";

.control {
  position: relative;
  display: block;
}

.control__mark {
  position: absolute;
  top: -7px;
  left: -40px;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: 1px solid $Silver;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -62px;
    top: -6px;
  }
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  position: absolute;
  top: 6px;
  left: 7px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  content: "";
  width: 26px;
  height: 26px;
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: $Apple;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 9px;
    left: 10px;
  }
}
