@import "../abstracts/variables.scss";
@import "../fonts.scss";

.form-page {
  grid-column: 1 / -1;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin: 0 30px;
  }
}

.form-page__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 54px 15px;
  }
}

.form-page__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin: 0 0 66px 15px;
  }
}

.form-page__programm-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
 }
}

.form-page__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0;
  }
}

.form-page__input-name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 18px;
    width: 567px;
    margin: 0 0 0 10px;
  }
}

.form-page__input-weight {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 18px;
    width: 540px;
    margin: 0 0 0 10px;
  }
}

.form-page__input-age {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 18px;
    width: 490px;
    margin: 0 0 0 10px;
  }
}

.form-page__programm-list {
  @media (min-width: $tablet-width) {
    border: 1px solid $Mercury;
    margin: 0;
    padding: 25px 0 15px 40px;
    width: 600px;
  }
}

.form-page__programm-item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $MineShaft;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 13px 0;
  }
}

.form-page__contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.form-page__form-contacts {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 76px 0;
  }
}

.form-page__input-mail {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0 5px 18px;
    width: 550px;
    margin: 0 0 0 10px;
  }
}

.form-page__input-telephone {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0 5px 18px;
    width: 530px;
    margin: 0 0 0 10px;
  }
}

.form-page__form-comment {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 76px 0;
  }
}

.form-page__comment {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 631px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form-page__add-form {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-page__add-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
}

.form-page__add-item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 160px 37px 0;
  }
}

.form-page__add-item:last-child {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 90px;
  }
}


.form-page__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  border: 0;
  background-color: $Apple;
  padding: 10px 76px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0px 0 50px 0;
  }
}

.form-page__text {
  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 61px;
  }
}

.form-page__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0 0 72px 0;
  }
}

.form-page__form-fieldset {
  margin-bottom: 30px;
  border: 0;
}
