@import "../abstracts/variables.scss";
@import "../fonts.scss";

.form-page__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
}

.form-page__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;
}

.form-page__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.form-page__input-name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;
}

.form-page__input-weight {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;
}

.form-page__input-age {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;
}

.form-page__programm-item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $MineShaft;
  text-transform: uppercase;
}

.form-page__form-contacts {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.form-page__input-mail {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;
}

.form-page__input-telephone {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;
}

.form-page__form-comment {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.form-page__comment {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  text-transform: uppercase;
  border: 1px solid $Mercury;
  background-color: $white;
}

.form-page__add-form {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.form-page__add-item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;
}

.form-page__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  border: 0;
  background-color: $Apple;
  padding: 7px 44px;
}

.form-page__text {
  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $black;
}
