@import "../abstracts/variables.scss";
@import "../fonts.scss";

.header {
  background-image: url("../img/cat-green-mobile.jpg");
  background-repeat: no-repeat;
  // background-color: $Apple;
  width: 320px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    background-image: none;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    margin-bottom: 82px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-width: 420px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    min-width: 420px;
  }
}

.header__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
  }
}

.header__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
  }
}

.header__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $Apple;
  padding: 7px 44px;
  order: 4;
  display: block;
  align-self: center;

  @media (min-width: $tablet-width) {
    order: 0;
    display: block;
    align-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    display: block;
    align-self: flex-start;
  }
}
