@import "../abstracts/variables.scss";
@import "../fonts.scss";

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto 198px auto;
  position: relative;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0 auto 628px auto;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    margin: 0 auto 177px auto;
    width: 1220px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("../img/cat-green-mobile.jpg");
  background-color: $Apple-dark;
  background-repeat: no-repeat;
  padding: 27px 30px 164px 30px;
  background-position: 50% 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-green-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-width: 420px;
    background-color: $white;
    background-image: none;
    margin: 0 0 0 117px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    min-width: 420px;
    margin: 20px 0 194px 80px;
  }
}


.header__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  text-align: center;
  margin: 0 0 25px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    margin: 0 0 43px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px 0;
    padding: 0;
  }
}

.header__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    margin: 0 0 0 3px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.header__wrapper-position {
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 768px;
  }
}

.header__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $Apple;
  text-align: center;
  padding: 10px 0;
  width: 280px;
  justify-content: center;
  position: absolute;
  top: 138px;
  left: -140px;
  display: flex;

  @media (min-width: $tablet-width) {
    z-index: 1;
    display: block;
    align-self: flex-start;
    position: absolute;
    top: 47px;
    left: 121px;
    padding: 17px 0;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    display: block;
    align-self: flex-start;
    padding: 17px 0;
    position: absolute;
    top: 253px;
    left: -419px;
  }
}

.header__link:hover {
  background-color: $Apple-dark;
}

.header__link:active {
  background-color: $Apple-dark;
  color: rgba(255, 255, 255, 0.3);
}

.header__image {
  position: absolute;
  top: -136px;
  left: -139px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 20px;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    top: -63px;
    left: -53px;
  }
}
