@import "../abstracts/variables.scss";
@import "../fonts.scss";

.navigation__link {
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.navigation__list {
  list-style-type: none;
}
