@import "../abstracts/variables.scss";
@import "../fonts.scss";

.nutrition-program {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0 0 71px 0;
    padding: 0;
  }
}

.nutrition-program__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 45px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
}

.nutrition-program__item {
  background-color: $Concrete;
  padding: 30px 33px 18px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 33px 50px;
    box-sizing: border-box;
  }
}

.nutrition-program__item:first-child {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding: 77px 51px 55px 52px;
    margin: 0 80px 0 0;
    width: 570px;
  }
}

.nutrition-program__item:last-child {
  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;
    width: 570px;
  }
}

.nutrition-program__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;
  margin: 0 0 29px 75px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 214px;
  }
}

.nutrition-program__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $Tundora;
  margin: 0 0 38px 0;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin: 0 0 23px 0;
  }
}

.nutrition-program__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
