@import "../abstracts/variables.scss";
@import "../fonts.scss";

.page-header {
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin: 10px 0 17px 0;
  padding: 0;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    max-width: 710px;
    justify-content: space-between;
    grid-column: 1 / -1;
    margin: 24px 30px 60px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    max-width: 1220px;
    grid-column: 1 / -1;
    margin: 53px auto 87px auto;
  }
}

.page-header__logo-image {
  margin: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 540px;
  }
}

.page-header__logo-image:hover {
  opacity: 0.8;
}

.page-header__logo-image:active {
  opacity: 0.6;
}
