@import "../abstracts/variables.scss";

.page-main {
  grid-column: 1 / -1;
  margin: 0;
  // min-width: 320px;

  @media (min-width: $tabletWidth) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktopWidth) {
    grid-column: 1 / -1;
  }
}

.page-main--index::before {
  @media (min-width: $desktopWidth) {
    position: absolute;
    content: "";
    width: 50%;
    height: 694px;
    background-color: $appleDark;
    top: 0;
    right: -9px;
    z-index: -1;
    background-image: url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: right;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}
