@import "../abstracts/variables.scss";
@import "../fonts.scss";

.page-header {
  background-color: $white;
  display: flex;
  margin: 0;
  padding: 0;
  grid-column: 2 / 4;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    max-width: 710px;
    justify-content: space-between;
    grid-column: 2 / 9;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1220px;
  }
}

.page-header__logo-image {
  @media (min-width: $tablet-width) {
    margin-right: 94px;
  }
}
