.present {
  background-image:  url('../img/gift-mobile.jpg');
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  margin: 0 auto;
  background-color: #68B738;
}

.present__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}
