@import "../abstracts/variables.scss";
@import "../fonts.scss";

.program-information__wrapper {
  display: flex;
  flex-direction: column;
}

.program-information {
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 25px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
}

.program-information__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 28px 10px;
    font-size: 60px;
    line-height: 60px;
  }
}

.program-information__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 95px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 10px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1220px;
    margin: 0 0 0 9px;
  }
}

.program-information__item {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 141px 0 57px 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 141px 0 57px 0;
    margin: 0;
  }
}

.program-information__item:first-child {
  @media (min-width: $tablet-width) {
    margin-right: 153px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.program-information__item:nth-child(2) {
  @media (min-width: $desktop-width) {
    margin-right: 77px;
  }
}

.program-information__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    margin-right: 153px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}


.program-information__item:first-child::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/leaf.png");
  top: 10px;
  left: -75px;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../img/leaf.png");
    background-repeat: no-repeat;
    background-color: $Apple;
    background-position: center;
    top: 35px;
    left: 0;
  }
}

.program-information__item:first-child::before {
  @media (min-width: $tablet-width) {
    content: "1";
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: $Concrete;
    z-index: -1;
    top: 0;
    left: 118px;
  }
}

.program-information__item:nth-child(2)::before {
  @media (min-width: $tablet-width) {
    content: "2";
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: $Concrete;
    z-index: -1;
    top: 0;
    left: 118px;
  }
}

.program-information__item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/water.png");
  top: 10px;
  left: -75px;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../img/water.png");
    background-repeat: no-repeat;
    background-color: $Apple;
    background-position: center;
    top: 35px;
    left: 0;
  }
}

.program-information__item:nth-child(3)::before {
  @media (min-width: $tablet-width) {
    content: "3";
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: $Concrete;
    z-index: -1;
    top: 0;
    left: 118px;
  }
}

.program-information__item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/cutlery.png");
  top: 10px;
  left: -75px;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../img/cutlery.png");
    background-repeat: no-repeat;
    background-color: $Apple;
    background-position: center;
    top: 35px;
    left: 0;
  }
}

.program-information__item:last-child::before {
  @media (min-width: $tablet-width) {
    content: "4";
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: $Concrete;
    z-index: -1;
    top: 0;
    left: 118px;
  }
}

.program-information__item:last-child::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/scales.png");
  top: 10px;
  left: -75px;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../img/scales.png");
    background-repeat: no-repeat;
    background-color: $Apple;
    background-position: center;
    top: 35px;
    left: 0;
  }
}


.program-information__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $Tundora;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}
