@import "../abstracts/variables.scss";
@import "../fonts.scss";

.slider {
  background-color: $Concrete;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px 40px 20px;

  @media (min-width: $tablet-width) {
    background-color: $Concrete;
  }
}

.slider__button-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.slider__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  color: $black;
  cursor: pointer;
}
