@import "../abstracts/variables.scss";

.social__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 19px 0;
  padding: 20px 0 15px 0;
  border-top: 1px solid $Alto;
  border-bottom: 1px solid $Alto;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 0;
    border: none;
  }
}

.social__item {
  margin-right: 20px;
}
