@import "../abstracts/variables.scss";

.social {
  @media (min-width: $tablet-width) {
    margin: 0 135px 0 0;
    padding: 0;
    width: 130px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 393px 0 0;
  }
}

.social__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0 0 19px 0;
  border-top: 1px solid $Alto;
  border-bottom: 1px solid $Alto;
  width: 280px;
  padding: 16px 0 12px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    border: none;
    width: 125px;
  }
}

.social__item {
  margin-right: 33px;

  @media (min-width: $tablet-width) {
    margin: 0 26px 0 0;
  }
}

.social__item:first-child {
  margin: 0 25px 0 80px;

  @media (min-width: $tablet-width) {
    margin: 0 28px 0 0;
  }
}

.social__icon-facebook {
  fill: $Concrete;
  stroke: $DoveGray;
}

.social__icon-facebook:hover {
  stroke: $Apple;
}

.social__icon-facebook:active {
  stroke: $Apple;
  opacity: 0.3;
}

.social__icon-vk,
.social__icon-inst {
  fill: $DoveGray;
}

.social__icon-vk:hover,
.social__icon-inst:hover {
  fill: $Apple;
}

.social__icon-vk:active,
.social__icon-inst:active {
  fill: $Apple;
  opacity: 0.3;
}
